%link-hover-special {
  a {
    text-decoration: none;
    font-weight: 700;
    color: inherit;

    &:hover {
      text-decoration: none;
    }

    &:after {
      content: "";
      background: none repeat scroll 0 0 transparent;
      bottom: -3px;
      display: block;
      height: 2px;
      left: 50%;
      position: relative;
      background: linear-gradient(to right, $primary-purple, $primary-pink);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
  }
}
