@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");

@import "scaffold";
@import "styleguide";
@import "navbar";
@import "video";
@import "article";
@import "sidebar";
@import "hover";
@import "indicator";
@import "share";
@import "search";
@import "mediaquery";
@import "buttons";
@import "inputs";
@import "checkbox";

@import "styleguidepage";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

input {
  background: transparent;
  border: none;
  width: inherit;
}

*:focus {
  outline: none;
}
